/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1552px) {

    /* ----------------------------------------------------HEADER----------------------------------------------------------------- */
    .header {
        padding: 32px 0 16px;
    }

    .header__nav {
        width: 100%;
        padding: 0;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .header__menu-list {
        padding: 23px 0 8px;
    }

    /* ----------------------------------------------------HERO------------------------------------------------------------------- */
    .hero__content {
        width: 50%;
    }

    /* ----------------------------------------------------GALLERY---------------------------------------------------------------- */
    .gallery__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 31px;
    }

    .gallery-box {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }

    .gallery__image {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    /* ----------------------------------------------------CONTACTS--------------------------------------------------------------- */
    .contacts__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        /* -webkit-box-align: center; */
        /* -ms-flex-align: center; */
        /* align-items: center; */
        gap: 30px;
    }

    .contacts__info {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
}

@media (max-width: 1200px) {
    .container {
        padding-inline: 50px;
    }

    /* ---------------------------------------------------HEADER------------------------------------------------------------------ */
    .header__logo {
        width: 187px;
    }

    /* ---------------------------------------------------HERO-------------------------------------------------------------------- */
    .hero {
        padding-block: 101px;
        background-image: url(../img/hero-bg1024.png);
    }

    .hero__content {
        width: 77%;
    }

    .hero__desc {
        margin-bottom: 133px;
    }

    /* -----------------------------------------------------ABOUT----------------------------------------------------------------- */
    .about__content {
        width: 100%;
    }

    /* -----------------------------------------------------GALLERY--------------------------------------------------------------- */
    .gallery {
        background-image: url(../img/gallery-bg1024.png);
    }

    .gallery__title {
        margin-bottom: 16px;
    }

    .gallery__image {
        flex-wrap: nowrap;
    }

    /* -----------------------------------------------------CATALOG--------------------------------------------------------------- */
    .catalog__text {
        width: 100%;
    }

    .catalog__card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .catalog__picture {
        margin-right: 0;
    }

    .catalog__image {
        width: 100%;
        height: 100%;
    }

    .catalog__content {
        width: 100%;
        padding: 29px 0 0;
    }

    .catalog__data {
        margin-bottom: 18px;
    }

    /* -----------------------------------------------------EVENTS---------------------------------------------------------------- */
    .events__list {
        gap: var(--gap-min);
    }

    .events__item {
        width: calc((100% - (var(--gap-min) * 2)) / 3);
    }

    .events__content {
        padding: 13px 34px 49px 34px;
    }

    .events__span {
        margin-bottom: 6px;
        text-align: right;
        -ms-flex-item-align: end;
        align-self: flex-end;
        letter-spacing: -0.2px;
    }

    .events__subtitle {
        margin-bottom: 5px;
    }

    .events-desc {
        margin-bottom: 22px;
    }

    /* -----------------------------------------------------PROJECT--------------------------------------------------------------- */
    .projects__desc {
        width: 100%;
        margin-bottom: 18px;
    }

    .projects__image-box {
        gap: var(--gap-min);
    }

    /* ----------------------------------------------------------------CONTACTS---------------------------------------------- */
    .contacts {
        padding: 41px 0 39px;
    }

    .contacts__container {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .contacts__subtitle {
        margin-bottom: 10px;
    }

    .contacts__address {
        font-size: 14px;
        line-height: 135%;
    }

    .contacts__btn {
        padding: 11px 41px;
    }

    /* ----------------------------------------------------------------FOOTER----------------------------------------------------- */
    .footer {
        padding-block: 38px;
    }

    .icon-footer {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 1023.9px) {

    /* ------------------------------------------------------------HEADER--------------------------------------------------------- */
    .header {
        padding: 32px 0 16px;
    }

    .header__menu-list {
        gap: 44px;
    }

    /* -------------------------------------------------------HERO---------------------------------------------------------------- */
    .hero {
        padding: 87px 0 85px;
        background-image: url(../img/hero-bg768.png);
    }

    .hero__content {
        width: 90%;
    }

    /* -------------------------------------------------------------ABOUT--------------------------------------------------------- */
    .about {
        padding-bottom: 71px;
    }

    /* -------------------------------------------------------------GALLERY------------------------------------------------------- */
    .gallery {
        background-image: url(../img/gallery-bg768.png);
    }

    .gallery__content {
        gap: 29px;
    }

    .gallery__image {
        gap: 34px;
    }

    /* -------------------------------------------------------------CATALOG------------------------------------------------------- */
    .catalog__text {
        margin-bottom: 41px;
    }

    .catalog__data {
        margin-bottom: 8px;
    }

    /* --------------------------------------------------------------EVENTS------------------------------------------------------- */
    .events__list {
        gap: 29px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .events__item {
        width: 100%;
    }

    .events__image {
        width: 100%;
        height: 100%;
    }

    .events__content {
        padding: 14px 33px 49px 33px;
    }

    .events__span {
        margin-bottom: 4px;
    }

    .events__subtitle {
        margin-bottom: 14px;
    }

    .events-desc {
        margin-bottom: 54px;
    }

    /* -------------------------------------------------------------PROJECT------------------------------------------------------- */
    .projects__desc {
        margin-bottom: 26px;
    }

    .projects__subtitle {
        margin-bottom: 29px;
    }

    .projects__image-box {
        gap: 34px;
    }

    /* ---------------------------------------------------------------CONTACTS---------------------------------------------------- */
    .contacts {
        padding-bottom: 38px;
    }

    .contacts__input {
        width: 48.5%;
    }

    .contacts__btn {
        width: 47.4%;
        padding: 11px 28px;
    }
}

@media (max-width: 767px) {
    .header__logo {
        width: 145px;
    }

    .header__btn svg {
        width: 23px;
        height: 23px;
    }

    .header__menu-list {
        overflow-x: auto;
    }

    .header__menu-list::-webkit-scrollbar {
        display: none;
    }

    .nav__link {
        font-size: 14px;
        line-height: 140%;
    }

    .hero__heading {
        font-size: 52px;
        line-height: 100%;
    }

    .hero__desc {
        font-size: 16px;
        font-weight: 600;
        line-height: 172%;
    }

    .hero__btn {
        padding: 15px 22px;
        font-size: 16px;
        line-height: 142%;
        font-weight: 700;
    }

    .contacts__input {
        width: 70%;
    }
}

@media (max-width: 576px) {

    /* ----------------------------------------------------GLOBAL---------------------------------------------------------- */
    .container {
        padding-inline: 15px;
    }

    .title {
        margin-bottom: 12px;
        font-size: 28px;
        line-height: 136%;
    }

    /* ---------------------------------------------------------HEADER------------------------------------------------------ */
    .header {
        padding: 15px 0 3.5px;
    }

    .header__logo {
        width: 97px;
    }

    .header__btn svg {
        width: 18px;
        height: 18px;
    }

    .header__menu-list {
        padding-block: 8px;
        -webkit-column-gap: 27px;
        -moz-column-gap: 27px;
        column-gap: 27px;
    }

    .nav__link {
        font-size: 12px;
        line-height: 133%;
    }

    /* ----------------------------------------------------------HER0--------------------------------------------------------- */
    .hero {
        padding-block: 50px;
        background-image: url(../img/hero-bg320.png);
        background-size: cover;
    }

    .hero__content {
        width: 100%;
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .hero__heading {
        margin-bottom: 10px;
        font-size: 32px;
        line-height: 88%;
    }

    .hero__desc {
        margin-bottom: 40px;
        font-size: 12px;
        line-height: 133%;
        font-weight: 400;
    }

    .hero__btn {
        padding: 12px 19px;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        font-size: 12px;
        line-height: 133%;
        font-weight: 700;
    }

    /* -------------------------------------------------------------ABOUT---------------------------------------------------------- */
    .about {
        padding: 50px 0 40px;
    }

    .about__desc {
        font-size: 14px;
        line-height: 200%;
    }

    .gallery {
        padding: 51px 0 50px;
    }

    /* ---------------------------------------------------------GALLERY-------------------------------------------------------- */
    .gallery__image {
        gap: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    /* ---------------------------------------------------CATALOG----------------------------------------------------------- */
    .catalog {
        padding-top: 50px;
    }

    .catalog__text {
        margin-bottom: 30px;
    }

    .catalog-list {
        gap: 30px;
    }

    .catalog__content {
        padding: 20px 0 0;
    }

    .catalog__subtitle {
        width: 99%;
    }

    .catalog__data {
        margin-bottom: 13px;
    }

    /* --------------------------------------------------EVENTS------------------------------------------------------------ */
    .events {
        padding-top: 49px;
    }

    .events__list {
        gap: 20px;
    }

    .events__content {
        padding: 17px 17px 47px 22px;
    }

    .events__span {
        margin-bottom: 10px;
    }

    .events__subtitle {
        margin-bottom: 5px;
    }

    .events-desc {
        margin-bottom: 48px;
    }

    /* ------------------------------------------------------------PROJECTS----------------------------------------------- */
    .projects {
        padding: 50px 0 9px;
    }

    .projects__subtitle {
        font-size: 18px;
        line-height: 178%;
        margin-bottom: 10px;
    }

    .projects__desc {
        margin-bottom: 21px;
        width: 99%;
    }

    .projects__image-box {
        gap: 12px;
    }

    /* -----------------------------------------------------------------CONTACTS----------------------------------------------- */
    .contacts {
        padding-bottom: 47px;
        border-top: none;
    }

    .contacts__container {
        gap: 19px;
    }

    .contacts__subtitle {
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 138%;
    }

    .contacts__form {
        gap: 20px;
    }

    .contacts__input {
        width: 100%;
        min-height: 40px;
    }

    .contacts__btn {
        width: 44%;
        font-size: 12px;
        line-height: 133%;
        min-height: 40px;
    }

    .contacts__subtitle-social {
        margin-bottom: 7px;
        font-size: 18px;
        font-weight: 400;
        line-height: 178%;
    }

    .icon-contacts {
        width: 50px;
        height: 50px;
    }

    /* ---------------------------------------------------------------FOOTER----------------------------------------------- */
    .footer {
        padding-block: 20px;
    }

    .footer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .footer__social {
        margin-bottom: 17px;
    }

    .footer__logo {
        width: 96px;
    }

    .icon-footer {
        width: 50px;
        height: 50px;
    }

}

@media (any-hover: hover) {
    
    .nav__link:hover {
        color: var(--light-violet-color);
      }

      .header__btn:hover rect {
        fill: var(--light-violet-color);
      }
      
      .header__btn:hover path {
        fill: var(--light-violet-color);
      }

      .hero__btn:hover {
        outline: 3px solid var(--morelight-violet-color);
      }

      .checkbox:hover+.check-style {
        border: 1px solid #C283F3;
      }

      .events__link:hover {
        color: var(--dark-violet-color);
      }

      .contacts__input:hover {
        background-color: var(--gray-input-color);
      }

      .contacts__btn:hover {
        outline-offset: 0;
        border: 2px solid var(--btn-color);
        color: var(--white-color);
        background-color: var(--btn-color);
      }

      .contacts__social-icon:hover {
        opacity: 0.5;
      }

      .footer__social-icon:hover path {
        fill: var(--white-color);
      }
}
